.bucket-card{
    background: #e6e6e6;
    padding: 10px;    
    height: 215px;
    border-radius: 5px;
    margin: 10px 0;
}

.bucket-card-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}